<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Job Categories

    <a data-toggle="collapse" href="#job_type_job_categories_new_form">
      Add job category
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @job_type.job_categories.each do |job_category| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to job_category, job_category %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to job_category, method: :delete, data: { confirm: "Do you really want to delete this job_category" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="job_type_job_categories_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "job_types/job_type_job_categories_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
