<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Roles

    <a data-toggle="collapse" href="#company_roles_new_form">
      Add job application
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @company.roles.each do |job_application| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to job_application, job_application %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to job_application, method: :delete, data: { confirm: "Do you really want to delete this job_application" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="company_roles_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
